:host {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: row;
}

.container .left-side {
  flex-grow: 1;
  margin-right: 50px;
}

.container .right-side {
  display: flex;
  justify-content: flex-end;
}