<div class="container" *ngIf="response">
  <div class="items-container flex-wrap">
    <div class="items" *ngFor="let item of response; let i = index">
      <span class="ml-1" *ngIf="item.text !== ''">{{ item.original }}
        <ng-container *ngIf="response[i + 1]?.text === ''">
          <p class="d-flex align-items-center ml-1 align-self-stretch " *ngFor="let word of response | slice: i + 1 : i + 2">{{ word.original }}</p>
        </ng-container>
      </span>
      <div (mouseover)="mouseEnter(i, item)" (mouseout)="mouseLeave(item)" *ngIf="item.text !== ''">
        <ng-container *ngIf="item.tokens[item.tokens.length - 1].text === '{{strong_bully_word}}'">
          <span class="ml-1" [ngStyle]="{'background-color' : '#FE7703'}">{{ item.solution }}</span>
        </ng-container>

        <ng-container *ngIf="item.tokens[item.tokens.length - 1].text !== '{{strong_bully_word}}'">
          <span class="ml-1" [ngStyle]="{'background-color' : '#7EBF1D'}">{{ item.solution }}</span>
        </ng-container>
      </div>

      <div class="items-hover" [ngClass]="{'isShow': mouseValue === i}">
        <div class="d-flex align-items-center p-1 item-hover" *ngFor="let token of item?.tokens">
          <div class="number">1</div>
          <div class="text">{{ token.text }}</div>
          <div class="text-language">{{ token.language }}</div>
          <div class="d-flex background">
            <span *ngFor="let topic of token?.topics | keyvalue">{{ topic.value }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
